.search{
	position: fixed;
	z-index: 7;
	top:55px;
	background:#fff;
	width: 94%;
	margin: 0 3%;
	border-radius: 10px;
	vertical-align: middle;
	padding: 10px 0;
	overflow: hidden;
}
.info{
	padding: 0 0;
	margin: 5px 0;
	height:77%;
	overflow: scroll;
	position: absolute;
	bottom:60px;
}

.search input{
	font-size: 18px;
	border:0;
	width: 100%;
	margin-top:5px;
	margin-left:50px;
	margin-right: 5px;
	line-height: 26px;
	float: left;
}
.search img{
	position: absolute;
	/*top:8px;*/
	left:10px;
	width: 34px;
	height: 34px;
	/*float: left;*/
}
.contents{
	position: relative;
	top:10px;
	padding-bottom:50px;
	margin:0 0;
	background: #fff;
	border:#b0bfcb solid 1px;
	border-radius: 10px;
	width:94%;
}
.contents_1{
	position: relative;
	top:50px;
	padding-bottom:50px;
	margin:0 0;
	background: #fff;
	border:#b0bfcb solid 1px;
	border-radius: 10px;
	width:94%;
}
.contents table{position: relative;
	left:170px;
	top:32px;
	font-size: 10px;
	}
.contents table[class="bottom_info"]{
	position: relative;
	top:32px;
	left: 15px;
}
.contents table[class="bottom_info"] td{
	width:50%;
}
.contents table[class="bottom_info"] td[class="location"]{
	position: relative;
}
.contents table[class="bottom_info"] td[class="numbers"]{
	text-align: right;
	padding-left: 10px;
}
.contents span{position: relative;
	font-size: 20px;}
.contents td{margin:0 0;padding: 0 20px;}
.contents img{position: absolute;width:80px;height:80px;padding: 0px 10px;border-radius: 50% 50%;}