
.notes{
	color:#03528b;
	font-size: 25px;
	position: fixed;
	top:50px;
	left: 0;
	width:100%;
	line-height: 45px;
	overflow: hidden;
	background: #78e4d4;
	border-bottom: #42939c solid 5px;
	border-top: #42939c solid 5px;
}
.notes img{
	vertical-align: middle;
	position: relative;
	top:-10px;
	height:45px;
	width:45px;
}

.content
{
}

.content span{

	position: relative;
	top:50px;
	display: block;
	margin: 0 0;
	padding: 0 0;

	vertical-align: middle;
	padding:0 0;
	margin: 0 0;
}
.content div{
	border-radius: 50% 50%;	
	position: absolute;
	font-size: 20px;
	line-height: 0px;
	font-weight: 100;
	color:#efd13d;
	background: #03528b;
	text-align: center;
	vertical-align: middle;
	padding: 0 0;
}
.content button {
	border-radius: 50% 50%;
	background: #03528b;
	color:#efd13d;
	font-size: 20px;
	position: absolute;
	border: 0;
}
/*.content span[class="students"]{font-size: 50px;top:50px;}
.content div[class="weiji"] span[class="students"]{top:30px;}
.content div[class="yinyu"] span[class="students"]{top:0px;}
.content div[class="ccode"] span[class="students"]{top:50px;}*/
.subjects{
	position: relative;
	bottom:20px;
}
.content .ccode{
	right:100px;
	top:90px;
	width:80px;
	height:80px;}

.content .weiji{
	left:30px;
	top:140px;
	width:80px;
	height:80px;}

.content .mayuan{
	left:150px;
	top:210px;
	width:70px;
	height:70px;}

.content .caijin{
	right:30px;
	top:280px;
	width:80px;
	height:80px;}

.content .boyi{
	left:120px;
	top:330px;
	width:90px;
	height:90px;}

.content .jindai{
	left:220px;
	top:160px;
	width:90px;
	height:90px;}

.content .yinyu{
	right:220px;
	top:250px;
	width:90px;
	height:90px;}
.bottom_button{
	position:absolute;
	bottom:10px;
	width:100%;
}

.bottom_button div{
	display: inline;
	position: relative;
	width:150px;
	line-height:40px;
	border-radius: 10px 10px;
	text-align: center;
	color:#c7b447;
	font-weight: 100;
	font-size: 20px;
	background: #003056;
	}
.bottom_button .yuezixi{float: left;margin-left:0px;}
.bottom_button .shouhuo{float: right;margin-right:15px; }
.information button{
	position: relative;
	top:-20px;
	/*left:271px;*/
	float:right;
	width:100%;
	line-height: 20px;
	text-align: right;
	background: #e3c944;
	/*border: 1px solid #03c944;*/
	border:0;
}
.information{
	height:73%;
	width:91%;
	position: absolute;
	top:55px;
	left: 5px;
	vertical-align: middle;
	line-height: 35px;
	background:  #e3c944;
	display: none;
	padding: 0 10px;
	padding-top: 22px;
	-webkit-filter:drop-shadow(5px 5px 5px #666);

}