form div{
	position: relative;
	top:100px;
	width:96%;
	text-align: center;
	font-size: 20px;
	font-weight: 100;
}
.top a{
	font-size: 20px;
	font-weight: 100;
	color: #e3c944;
	display: inline;
	line-height: 45px;
	vertical-align: middle;
}
.topl{position: absolute;left:20px;}
.topr{position: absolute;right:20px;}
form div input{
	width: 50%;
	font-size: 20px;
	border:1px solid;
	border-radius: 5px;
	margin: 5px 0;
	color: #003056;
	padding: 5px 5px;
}
span{
color:red;
}