.button div{
	display: inline;
	position: relative;
	top:60px;
	width:120px;
	line-height:40px;
	border-radius: 10px 10px;
	text-align: center;
	color:#c7b447;
	font-weight: 100;
	font-size: 20px;
	background: #003056;
	}
.button .yuezixi{float: left;/*margin-left:100px;margin-top:50px;*/margin-left: 10px;}
.button .shouhuo{float: right;/*margin-right:100px;margin-top:50px;*/margin-right: 10px;}
.informations{
	position: absolute;
	top:130px;
	margin: 0 0;
	padding: 0 0;
	width:100%;
}
.informations input,.informations textarea{
	width:92%;
	border-radius: 10px;
	border:#cdd6dd 1px solid;
	font-size: 20px;
	padding: 10px 5px;
	font-weight: 100;
}
.informations input[type="datetime-local"]{
	width:50%;
	display: inline;
	text-align: center;
}
.informations input[class="target"]{
	width:43%;
	display: inline;
	text-align: center;
}
.informations h2,.informations span{
	position: relative;
	color: #003056;
	font-size: 20px;
	font-weight: 100;
	line-height: 30px;
	padding:0 0;
	margin: 10px 0; 
}
.informations span{
	font-size: 20px;
	margin: 0 5%;
}
.informations input[type="submit"]
	{
		width:38%;
		margin-top: 30px;
		margin-left: 26%;
		text-align: center;
		font-size: 20px;
		font-weight: 100;
		color: #c7b347;
		background: #003056;
		margin-bottom: 20px;
	}
/*.informations h2 input[type="checkbox"]{
	width:55px;
	height: 55px;
	margin:0 50px;
	vertical-align: middle;
	background:#fff;
	outline:solid #00d9ff thick;
}*/
.on{opacity: 0.5}