body{
	color:#003056;
	background: #b5fff2;
	font-size: 20px;
	text-align: center;
}
div[class="div_1"],div[class="div_2"],div[class="div_3"],div[class="div_4"],div[class="summery_1"]{
	border:5px solid #b5fff2;
	width: 96%;
	border-radius: 10px;
	padding: 5px 0px;
	background: #fff;
	margin:0  0;
	font-size: 15px;
	position: relative;
}
div[class="div_4"]{text-align: center;font-size: 20px;padding: 10px 0;}
a{color:#003056;}

.top{
	background: #b5fff2;
	height: 40px;
	position: fixed;
	z-index: 7;
}
.summery{
	text-align: center;
}
.summery img{
	position: relative;
	top:30px;
	height:80px;
	z-index: 5;
	border-radius:50% 50%;

}
.summery .summery_1{
	background: #fff;
	vertical-align: middle;
	position: relative;
	padding: 15px 0;
}
.summery span[class="left"]{margin-right: 30px;}
.summery span[class="right"]{margin-left: 30px;}

table td{
	border-bottom: #ebeff2 solid 1px;
	padding: 7px 0;
	}
