<!DOCTYPE html>
<html>
<head>

<meta http-equiv="content-type" content="tetx/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" href="../static/index_1.css">
<link rel="stylesheet" href="../static/all_top.css">
<title></title>
</head>
<style type="text/css">
</style>
<body>
<nav class="top">
	<h2>约自习</h2>
	<a href="{{url_for('person')}}"><img src="../static/privaty.png" id="privaty"/></a>
</nav>

<!-- <div class="notes">
	<img src="../static/light.png" />	
	最新通知：
	<span id="information" name="information">约自习即将上线！</span>
</div> -->

<div class="content">
	<button class="ccode" onclick="show(2,this)">C++</button>
	<button class="weiji" onclick="show(5,this)">微积分</button>	
	<button class="mayuan" onclick="show(1,this)">马原</button>
	<button class="boyi" onclick="show(0,this)">博弈论</button>
	<button class="caijin" onclick="show(3,this)">财经</button>
	<button class="jindai" onclick="show(4,this)">近代史</button>
	<button class="yinyu" onclick="show(6,this)">英语</button>
</div>

<div class="information">
<button onclick="close__()">X</button>
</div>
</div>

<div class="bottom_button">
	<a href="{{url_for('make_meet')}}"><div class="yuezixi">我要约自习</div></a>
	<a href="{{url_for('notice')}}"><div class="shouhuo">约自习公告</div></a>
</div>
</body>

<script type="text/javascript" src="../static/index_1.js">
</script>

</html>
